.Card {
  padding: 1em;
  .Card-Row {
    margin-bottom: 1em;
    text-align: left;

    label {
      font-weight: bold;
      text-transform: uppercase;
    }

    h4 {
      margin: 0;
      font-weight: 100;
    }
  }

}
